Package: com.dimitarnestorov.searchautofocus
Name: SearchAutoFocus
Depends: mobilesubstrate, preferenceloader, com.spark.libsparkapplist, firmware (>= 11.0)
Version: 1.0.0-beta.1
Architecture: iphoneos-arm
Description: Automatically focus search inputs
Maintainer: Dimitar Nestorov
Author: Dimitar Nestorov
Section: Tweaks
Icon: file:///Library/PreferenceBundles/SearchAutoFocusPreferences.bundle/Icon@512h.png
